<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMILIA COLE - MUSIC</title>
    <script src="https://kit.fontawesome.com/e72b90ace7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id=" top ">
        <img src="/images/emilia-music-top.jpg" alt="background header music section">
   <nav>
    <ul>
        <li><a href="/">HOME |
        </a></li>
        <li><a href="/about">ABOUT |</a></li>
        <li><a href="/music">MUSIC  |</a></li>
        <li><a href="/contact">CONTACT |</a></li>
    </ul>
        <li><a href="http://www.facebook.com/" target="_blank"></target><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
        <li><a href="https://spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a>
        <li><a href="https://apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a>
        <li><a href="https://amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a>
        <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
    </ul>
    
</nav>
    <header>
        <section>

        <h1>CONTAC //</h1>
        <h5>WE ARE HERE </h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1697149096758!5m2!1ses!2sar"></iframe>

    </section>
    <article>
            <h5>CONTACT INFO - MANAGEMENT | Karen Blanche </h5>
            <a href="lucasjaviervillalba@gmail.com">email:lucasjaviervillalba@gmail.com.com></a><br>
            <a href=" telefono: 1133466683" >phone: 1133466683</a>
        </article><br>
        <article>
            <h5>BOOKING | Daniel Ku </h5>
            <a href="lucasjaviervillalba@gmail.com">email:lucasjaviervillalba@gmail.com</a><br>
            <a href=" telefono: 1133466683" >phone: 1133466683</a>
        </article><br>
        <article>
            <h5> LABEL | Wix Records, Jake Coldman</h5>
            <a href="lucasjaviervillalba@gmail.com">email:lucasjaviervillalba@gmail.com</a><br>
            <a href=" telefono: 1133466683"> phone: 1133466683</a>
        </article><br>
        <article>
            <h5> PR | That Girl Pr, Sarah Brookstone</h5>
            <p><a href="lucasjaviervillalba@gmail.com">email:lucasjaviervillalba@gmail.com</a></p>
            <p>phone:<a href="http//wa.me/+541133466683" target="_blank">11-3346-6683</a></p>
        </article>

    </header>
    
</body>
</html>