<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMILIA COLE - MUSIC</title>
    <script src="https://kit.fontawesome.com/e72b90ace7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id=" top ">
        <img src="/images/emilia-music-top.jpg" alt="background header music section">
   <nav>
    <ul>
        <li><a href="/">HOME |
        </a></li>
        <li><a href="/about">ABOUT |</a></li>
        <li><a href="/music">MUSIC  |</a></li>
        <li><a href="/contact">CONTACT |</a></li>
    </ul>
        <li><a href="http://www.facebook.com/" target="_blank"></target><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
        <li><a href="https://spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a>
        <li><a href="https://apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a>
        <li><a href="https://amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a>
        <li><a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
    </ul>
    
</nav>
</header>
<section>
    <h3>Direct links</h3>

    <ul class = "direct-links">
        <li>
            <a href="#ALBUM">Album</a>
        </li>
        <li>
            <a href="#ORGANIC LOVE">Video: Organic Love</a>
        </li>
        <li>
            <a href="#STREET LIGHT">Video: Street Light</a>
        </li>
    </ul>
    <article>
        <h2>ALBUM <br> TWIST IN MY REALITY</h2>
     <img src="images/emilia-play-list.png" alt="Imagen del album">
     <ol>
        <li>01.Organic Love | 02:40</li>
        <li>02.Twist in my reality | 02:10</li>
        <li>03.Street Light</li>
        <li>04.Love Don´t Live Here Anymore (Cover) | 03:49</li>
     </ol>
    </article>
    <article id="vide 1" ></article>
    <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"></iframe>
    <ol>
        <li>Directed by VINCE MALC & EMILIA COLE</li>
        <li>Edited and Filmed by NICOLAS TROY</li>
        <li>Producted by NIKI HEART.</li>
        <li>Wix Films LTD.</li>
     </ol>
    <article id="video 2">
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" ></iframe>
        <ol>
            <li>Directed by VINCE MALC & EMILIA COLE</li>
            <li>Edited and Filmed by NICOLAS TROY</li>
            <li>Producted by NIKI HEART.</li>
            <li>Wix Films LTD.</li>
         </ol>
</article>
</section>
</body>    
</body>
</html>